{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        {{ form_start(form) }}
                {{ form_row(form.profession) }}
                {{ form_row(form.contract) }}
                {{ form_row(form.company) }}
                {{ form_row(form.city) }}
                {{ form_row(form.filterOrder) }}
                {{ form_row(form.filterOrderAlphabetic) }}
                <a href="{{ path('app_job') }}" class="btn btn-danger">Réinitialiser les filtres</a>
                <button type="submit" class="btn btn-danger">Rechercher</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
<div class="container">
    <h1 class="text-danger">Nouvelles offres d'emploies : </h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for job in jobs %}
            <div class="col">
                <div class="card bg-dark border border-light">
                <img src="{{  job.getUrlImg() }}" style="height: 300px; object-fit: cover;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">{{ job.getCompany() }} recherche un/une {{ job.getProfession() }} à {{ job.getCity() }}, ({{ job.getZipCode() }})</h6>
                    <hr>
                    <p class="card-text">Réf : {{ job.getRef() }}</p>
                    <p class="card-text">{{ job.getDescription() | slice(0, 30)}} .. </p>
                    <p class="card-text">Publié le {{ job.getCreatedAt() |date('l j F o') }}</p>
                    <p class="card-text">Dernière mise à jour le {{ job.getUpdatedTime() |date('l j F o') }}</p>
                    <a class="btn btn-danger" href="{{ path('app_job_show', {id: job.id, slug: job.slug}) }}">
                        postuler
                    </a>
                </div>
                </div>
            </div>
        {% endfor %}
        
    </div>

    <div class="d-flex justify-content-center flex-row my-4">
        {{ knp_pagination_render(jobs) }}
    </div>
</div>
{% endblock %}
