{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
<div class="container w-75">
   <h1 class="text-danger">Annonce n°{{ job.id }}</h1>

    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>Titre de l'annonce</th>
                <td>{{ job.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Métier</th>
                <td>{{ job.profession }}</td>
            </tr>
            <tr>
                <th>Contrat</th>
                <td>{{ job.contract }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ job.country }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ job.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ job.zipCode }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ job.company }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ job.salary }}</td>
            </tr>
        </tbody>
    </table>
    <div class="container text-center">
         <a class="text-danger p-2" href="{{ path('app_admin_job_index') }}">Retour à la liste</a>
        <a class="text-danger p-2" href="{{ path('app_admin_job_edit', {'id': job.id}) }}">Modifier l'annonce</a>
    </div>
        {{ include('admin_job/_delete_form.html.twig') }}
</div>
{% endblock %}
